* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  flex-grow: 1;
}

ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* CONTAINER STYLE START */
.container {
  width: 100%;
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

/* CONTAINER STYLE END */
/* HEADER STYLE START */
.site-header {
  padding-top: 23px;
  padding-bottom: 23px;
}
.site-header__link {
  color: #000;
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
}
.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header__nav-list {
  display: flex;
  align-items: center;
  gap: 44px;
}
.site-header__nav-link {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  transition: 0.3;
}
.site-header__nav-link:hover {
  opacity: 0.7;
}
.site-header__nav-btn {
  padding: 13px 17px;
  border-radius: 5px;
  background-color: #373737;
  transition: 0.4;
}
.site-header__nav-btn:hover {
  opacity: 0.7;
}
.site-header__nav-btn__link {
  color: #FFF;
  font-size: 18px;
}
.site-header__menu {
  display: none;
}

@media only screen and (max-width: 654px) {
  .site-header__nav-list {
    display: none;
  }
  .site-header__menu {
    display: block;
    font-size: 35px;
    cursor: pointer;
  }
}
/* HEADER STYLE END */
/* HERO STYLE START */
.hero {
  background-image: url("../images/hero-bg.png");
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.hero-networks {
  background-color: rgba(0, 0, 0, 0.1490196078);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.hero-networks__list {
  padding: 251px 0 253px 20px;
}
.hero-networks__item {
  margin-bottom: 20px;
}
.hero-content {
  width: 100%;
  margin: 170px 0 305px 0px;
  background: linear-gradient(113deg, rgba(207, 207, 207, 0.26) 0%, rgba(207, 207, 207, 0.06) 92.87%);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.hero-content__info {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 41px 0;
  text-align: center;
}
.hero-content__title {
  margin-bottom: 25px;
  color: #000;
  text-align: center;
  font-family: "Revalia", sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.hero-content__desc {
  margin-bottom: 30px;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.hero-content__btn {
  padding: 13px 17px;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-radius: 5px;
  background-color: #373737;
  cursor: pointer;
  transition: 0.4;
}
.hero-content__btn:hover {
  opacity: 0.8;
}

/* HERO STYLE END */
/* FOLLOWING STYLE START */
.following {
  margin-bottom: 120px;
}
.following-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.following-box {
  background-color: #000;
}
.following-list {
  display: flex;
  align-items: center;
  margin-top: 37px;
  margin-left: 75px;
  gap: 80px;
  text-align: center;
}
.following-list__num {
  display: inline-block;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 700;
}
.following-list__desc {
  font-size: 20px;
}

/* FOLLOWING STYLE END */
/* ABOUT STYLE START */
.about {
  margin-bottom: 120px;
}
.about-title {
  margin-left: 50px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 400;
}
.about-desc {
  margin-left: 50px;
  margin-bottom: 45px;
  color: #373737;
  font-size: 20px;
  font-weight: 400;
}
.about-wrapper {
  display: flex;
  gap: 30px;
}
.about-content {
  width: 100%;
  max-width: 680px;
  padding: 6px 8px;
}
.about-content__desc {
  margin-bottom: 30px;
  color: #373737;
  font-size: 20px;
  font-weight: 300;
  line-height: 158.687%;
}
.about-content__btn {
  display: inline-block;
  padding: 13px;
  margin-bottom: 62px;
  color: #FFF;
  font-size: 18px;
  border-radius: 5px;
  background-color: #373737;
  border: none;
  cursor: pointer;
  transition: 0.5;
}
.about-content__btn:hover {
  opacity: 0.8;
}
.about-content__logos {
  display: flex;
  align-items: center;
  gap: 105px;
}

/* ABOUT STYLE END *//*# sourceMappingURL=main.css.map */