@mixin section-title{
    margin-left: 50px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 400;
}

@mixin section-desc{
    margin-left: 50px;
    margin-bottom: 45px;
    color: #373737;
    font-size: 20px;
    font-weight: 400;
}