/* FOLLOWING STYLE START */ 
.following{
    margin-bottom: 120px;
    
    &-wrapper{
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
    
    &-box{
        background-color: #000;
    }
    
    &-list{
        display: flex;
        align-items: center;
        margin-top: 37px;
        margin-left: 75px;
        gap: 80px;
        text-align: center;
        
        &__num{
            display: inline-block;
            margin-bottom: 25px;
            font-size: 40px;
            font-weight: 700;
        }
        
        &__desc{
            font-size: 20px;
        }
    }
}
/* FOLLOWING STYLE END */ 